# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
vendor/*

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

tests/_output/*
tests/_support/_generated
config/*
vendor/2amigos/yii2-date-picker-widget/CHANGELOG.md
vendor/2amigos/yii2-date-picker-widget/CHANGELOG.md
vendor/2amigos/yii2-date-picker-widget/composer.json
vendor/2amigos/yii2-date-picker-widget/CONTRIBUTING.md
vendor/2amigos/yii2-date-picker-widget/LICENSE.md
vendor/2amigos/yii2-date-picker-widget/README.md
vendor/2amigos/yii2-date-picker-widget/src/assets/css/bootstrap-daterangepicker.css
vendor/2amigos/yii2-date-picker-widget/src/DatePicker.php
vendor/2amigos/yii2-date-picker-widget/src/DatePickerAsset.php
vendor/2amigos/yii2-date-picker-widget/src/DatePickerLanguageAsset.php
vendor/2amigos/yii2-date-picker-widget/src/DatePickerTrait.php
vendor/2amigos/yii2-date-picker-widget/src/DateRangePicker.php
vendor/2amigos/yii2-date-picker-widget/src/DateRangePickerAsset.php
vendor/almasaeed2010/adminlte/.npmignore
vendor/almasaeed2010/adminlte/bower.json
vendor/almasaeed2010/adminlte/bower_components/bootstrap-colorpicker/.bower.json
vendor/almasaeed2010/adminlte/bower_components/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.css
vendor/almasaeed2010/adminlte/bower_components/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.css.map
vendor/almasaeed2010/adminlte/bower_components/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css
vendor/almasaeed2010/adminlte/bower_components/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css.map
vendor/almasaeed2010/adminlte/bower_components/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.js
vendor/almasaeed2010/adminlte/bower_components/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js
vendor/almasaeed2010/adminlte/bower_components/bootstrap-colorpicker/docs/includes/social.hbs
vendor/almasaeed2010/adminlte/bower_components/bootstrap-colorpicker/docs/layout.hbs
vendor/almasaeed2010/adminlte/bower_components/bootstrap-colorpicker/docs/pages/index.hbs
vendor/almasaeed2010/adminlte/bower_components/bootstrap-colorpicker/README.md
vendor/almasaeed2010/adminlte/bower_components/bootstrap-colorpicker/src/js/colorpicker-color.js
vendor/almasaeed2010/adminlte/bower_components/bootstrap-colorpicker/src/js/colorpicker-component.js
vendor/almasaeed2010/adminlte/bower_components/bootstrap-colorpicker/src/js/colorpicker-plugin-wrapper.js
vendor/almasaeed2010/adminlte/bower_components/bootstrap-colorpicker/src/less/colorpicker.less
vendor/almasaeed2010/adminlte/bower_components/bootstrap-colorpicker/src/sass/_colorpicker.scss
vendor/almasaeed2010/adminlte/bower_components/bootstrap-datepicker/.bower.json
vendor/almasaeed2010/adminlte/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.css
vendor/almasaeed2010/adminlte/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css
vendor/almasaeed2010/adminlte/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.standalone.css
vendor/almasaeed2010/adminlte/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.standalone.min.css
vendor/almasaeed2010/adminlte/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css
vendor/almasaeed2010/adminlte/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css.map
vendor/almasaeed2010/adminlte/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css
vendor/almasaeed2010/adminlte/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker3.standalone.css
vendor/almasaeed2010/adminlte/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker3.standalone.css.map
vendor/almasaeed2010/adminlte/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker3.standalone.min.css
vendor/almasaeed2010/adminlte/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.js
vendor/almasaeed2010/adminlte/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js
vendor/almasaeed2010/adminlte/bower_components/bootstrap-datepicker/dist/locales/bootstrap-datepicker-en-CA.min.js
vendor/almasaeed2010/adminlte/bower_components/bootstrap-datepicker/dist/locales/bootstrap-datepicker.cs.min.js
vendor/almasaeed2010/adminlte/bower_components/bootstrap-datepicker/dist/locales/bootstrap-datepicker.da.min.js
vendor/almasaeed2010/adminlte/bower_components/bootstrap-datepicker/dist/locales/bootstrap-datepicker.lv.min.js
vendor/almasaeed2010/adminlte/bower_components/bootstrap-datepicker/dist/locales/bootstrap-datepicker.no.min.js
vendor/almasaeed2010/adminlte/bower_components/bootstrap-datepicker/dist/locales/bootstrap-datepicker.sv.min.js
vendor/almasaeed2010/adminlte/bower_components/bootstrap-datepicker/js/bootstrap-datepicker.js
vendor/almasaeed2010/adminlte/bower_components/bootstrap-datepicker/js/locales/bootstrap-datepicker-en-CA.js
vendor/almasaeed2010/adminlte/bower_components/bootstrap-datepicker/js/locales/bootstrap-datepicker.cs.js
vendor/almasaeed2010/adminlte/bower_components/bootstrap-datepicker/js/locales/bootstrap-datepicker.da.js
vendor/almasaeed2010/adminlte/bower_components/bootstrap-datepicker/js/locales/bootstrap-datepicker.lv.js
vendor/almasaeed2010/adminlte/bower_components/bootstrap-datepicker/js/locales/bootstrap-datepicker.no.js
vendor/almasaeed2010/adminlte/bower_components/bootstrap-datepicker/js/locales/bootstrap-datepicker.sv.js
vendor/almasaeed2010/adminlte/bower_components/bootstrap-datepicker/less/datepicker3.less
vendor/almasaeed2010/adminlte/bower_components/bootstrap-datepicker/package.json
vendor/almasaeed2010/adminlte/bower_components/bootstrap-datepicker/tests/suites/options.js
vendor/almasaeed2010/adminlte/bower_components/bootstrap-datepicker/tests/tests.html
vendor/almasaeed2010/adminlte/bower_components/ckeditor/.bower.json
vendor/almasaeed2010/adminlte/bower_components/ckeditor/.github/ISSUE_TEMPLATE
vendor/almasaeed2010/adminlte/bower_components/ckeditor/adapters/jquery.js
vendor/almasaeed2010/adminlte/bower_components/ckeditor/CHANGES.md
vendor/almasaeed2010/adminlte/bower_components/ckeditor/ckeditor.js
vendor/almasaeed2010/adminlte/bower_components/ckeditor/config.js
vendor/almasaeed2010/adminlte/bower_components/ckeditor/contents.css
vendor/almasaeed2010/adminlte/bower_components/ckeditor/lang/_translationstatus.txt
vendor/almasaeed2010/adminlte/bower_components/ckeditor/lang/af.js
vendor/almasaeed2010/adminlte/bower_components/ckeditor/lang/ar.js
vendor/almasaeed2010/adminlte/bower_components/ckeditor/lang/az.js
vendor/almasaeed2010/adminlte/bower_components/ckeditor/lang/bg.js
vendor/almasaeed2010/adminlte/bower_components/ckeditor/lang/bn.js
vendor/almasaeed2010/adminlte/bower_components/ckeditor/lang/bs.js
vendor/almasaeed2010/adminlte/bower_components/ckeditor/lang/ca.js
vendor/almasaeed2010/adminlte/bower_components/ckeditor/lang/cs.js
vendor/almasaeed2010/adminlte/bower_components/ckeditor/lang/cy.js
vendor/almasaeed2010/adminlte/bower_components/ckeditor/lang/da.js
vendor/almasaeed2010/adminlte/bower_components/ckeditor/lang/de-ch.js
vendor/almasaeed2010/adminlte/bower_components/ckeditor/lang/de.js
vendor/almasaeed2010/adminlte/bower_components/ckeditor/lang/el.js
vendor/almasaeed2010/adminlte/bower_components/ckeditor/lang/en-au.js
vendor/almasaeed2010/adminlte/bower_components/ckeditor/lang/en-ca.js
vendor/almasaeed2010/adminlte/bower_components/ckeditor/lang/en-gb.js
vendor/almasaeed2010/adminlte/bower_components/ckeditor/lang/en.js
vendor/almasaeed2010/adminlte/bower_components/ckeditor/lang/eo.js
vendor/almasaeed2010/adminlte/bower_components/ckeditor/lang/es-mx.js
vendor/almasaeed2010/adminlte/bower_components/ckeditor/lang/es.js
vendor/almasaeed2010/adminlte/bower_components/ckeditor/lang/et.js
vendor/almasaeed2010/adminlte/bower_components/ckeditor/lang/eu.js
vendor/almasaeed2010/adminlte/bower_components/ckeditor/lang/fa.js
vendor/almasaeed2010/adminlte/bower_components/ckeditor/lang/fi.js
vendor/almasaeed2010/adminlte/bower_components/ckeditor/lang/fo.js
vendor/almasaeed2010/adminlte/bower_components/ckeditor/lang/fr-ca.js
vendor/almasaeed2010/adminlte/bower_components/ckeditor/lang/fr.js
vendor/almasaeed2010/adminlte/bower_components/ckeditor/lang/gl.js
vendor/almasaeed2010/adminlte/bower_components/ckeditor/lang/gu.js
vendor/almasaeed2010/adminlte/bower_components/ckeditor/lang/he.js
vendor/almasaeed2010/adminlte/bower_components/ckeditor/lang/hi.js
